.buttonForm{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}
.buttonBox{
    margin-top: 1rem;
    text-align: center;

}

.formtext{
    color:rgba(255, 255, 255,0.2)
}
