.buttonForm{
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 200px;
}
.buttonBox{
    margin-top: 1rem;
    text-align: center;

}
.divForm{
    width: 100%;

    align-items: center;
    justify-content: center;
}

.signUpForm{
    align-items: center;
    justify-content: center;
}
